<div>
    <h2 id="page-heading">
        <span>Containers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-container" [routerLink]="['/container/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Container
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="containers?.length === 0">
        <span>No containers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="containers && containers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="senderName"><span>Sender</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="receiverName"><span>Receiver</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shipmentId"><span>Shipment</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let container of containers ;trackBy: trackId">
                    <td><a [routerLink]="['/container', container.id, 'view']">{{ container.id }}</a></td>
                    <td>{{ container.description }}</td>
                    <td>
                        <div *ngIf="container.senderId">
                            <a [routerLink]="['/company', container.senderId , 'view']" >{{ container.senderName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="container.receiverId">
                            <a [routerLink]="['/company', container.receiverId , 'view']" >{{ container.receiverName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="container.shipmentId">
                            <a [routerLink]="['/shipment', container.shipmentId , 'view']" >{{ container.shipmentId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/container', container.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/container', container.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(container)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="containers && containers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
