<div>
    <h2 id="page-heading">
        <span>Shipments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shipment" [routerLink]="['/shipment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Shipment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shipments?.length === 0">
        <span>No shipments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shipments && shipments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startPortName"><span>Start Port</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endPortName"><span>End Port</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="shipName"><span>Ship</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let shipment of shipments ;trackBy: trackId">
                    <td><a [routerLink]="['/shipment', shipment.id, 'view']">{{ shipment.id }}</a></td>
                    <td>
                        <div *ngIf="shipment.startPortId">
                            <a [routerLink]="['/port', shipment.startPortId , 'view']" >{{ shipment.startPortName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shipment.endPortId">
                            <a [routerLink]="['/port', shipment.endPortId , 'view']" >{{ shipment.endPortName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="shipment.shipId">
                            <a [routerLink]="['/ship', shipment.shipId , 'view']" >{{ shipment.shipName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shipment', shipment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shipment', shipment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shipment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
