<div>
    <h2 id="page-heading">
        <span>Sensor Readings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sensor-readings" [routerLink]="['/sensor-readings/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Sensor Readings
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sensorReadings?.length === 0">
        <span>No sensorReadings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sensorReadings && sensorReadings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="temperature"><span>Temperature</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="latitude"><span>Latitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="longtitude"><span>Longtitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="humidityRate"><span>Humidity Rate</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="containerId"><span>Container</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let sensorReadings of sensorReadings ;trackBy: trackId">
                    <td><a [routerLink]="['/sensor-readings', sensorReadings.id, 'view']">{{ sensorReadings.id }}</a></td>
                    <td>{{ sensorReadings.temperature }}</td>
                    <td>{{ sensorReadings.latitude }}</td>
                    <td>{{ sensorReadings.longtitude }}</td>
                    <td>{{ sensorReadings.humidityRate }}</td>
                    <td>
                        <div *ngIf="sensorReadings.containerId">
                            <a [routerLink]="['/container', sensorReadings.containerId , 'view']" >{{ sensorReadings.containerId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sensor-readings', sensorReadings.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sensor-readings', sensorReadings.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sensorReadings)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
